body.clean {
    --base-fontSize: 28px;
    --global-background: #031323;

    --display-fontColor: #fff;
    --display-fontColor--result: #fff;
    --display-background: transparent;
    --display-height: 150px;

    --calculator-background: rgba(255, 255, 255, 0.05);

    --button-background: transparent;
    --button-spacing: 0;
    --button-width: 90px;
    --button-height: 90px;
    --button-radius: 0;
}

.clean #calculator {
    padding: 0;
    /* backdrop-filter: blur(1rem); */
    box-shadow: 0.375rem 0.375rem 1.875rem rgba(0, 0, 0, 0.2);
    border: 0;
    border-radius: 0.5rem;
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.2);
    border-left: 0.0625rem solid rgba(255, 255, 255, 0.2);
}

.clean #display {
    box-shadow: none;
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.05);
    padding: 12px 20px;
}

.clean #display.result {
    font-weight: 600;
}

.clean .key {
    color: #fff;
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.05);
    border-right: 0.0625rem solid rgba(255, 255, 255, 0.05);
}

.clean .key:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.clean .key:active,
.clean .key.active {
    background-color: #f71787;
}

.clean .messages {
    color: #fff;
    box-shadow: 0.375rem 0.375rem 1.875rem rgba(0, 0, 0, 0.2);
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.2);
    border-left: 0.0625rem solid rgba(255, 255, 255, 0.2);
}