:root {
    --base-fontSize: 18px;
    --global-background: linear-gradient(35deg,
            hsl(240deg 100% 50%) 0%,
            hsl(225deg 100% 50%) 10%,
            hsl(218deg 100% 50%) 20%,
            hsl(213deg 100% 50%) 30%,
            hsl(208deg 100% 50%) 40%,
            hsl(203deg 100% 50%) 50%,
            hsl(199deg 100% 50%) 60%,
            hsl(202deg 100% 65%) 70%,
            hsl(203deg 100% 75%) 80%,
            hsl(202deg 84% 83%) 90%,
            hsl(200deg 53% 90%) 100%);

    --calculator-background: #aaa;

    --display-fontColor: #000;
    --display-fontColor--result: red;
    --display-background: #eee;
    --display-height: 110px;

    --button-spacing: 12px;
    --button-width: 60px;
    --button-height: 60px;
    --button-radius: 12px;
}

body {
    background: var(--global-background);
    font-size: var(--base-fontSize);
}

#calculator {
    padding: 30px;
    border: 1px solid #000;
    background-color: var(--calculator-background);
}

#display {
    max-width: calc((var(--button-width) * 4) + (var(--button-spacing) * 3));
    color: var(--display-fontColor);
    height: var(--display-height);
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: var(--display-background);
    margin-bottom: var(--button-spacing);
    font-size: 36px;
    padding: 8px 16px;
    line-height: 1;
    box-shadow: inset 20px 20px 60px rgba(0, 0, 0 , 0.4),
            inset -20px -20px 60px rgba(255, 255, 255 , 0.1);
}

#display.result {
    color: var(--display-fontColor--result);
}

#buttons {
    user-select: none;
    display: grid;
    grid-template-columns: repeat(4, var(--button-width));
    grid-auto-rows: var(--button-height);
    gap: var(--button-spacing);
}

.key {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--button-radius);

    background: var(--button-background);
}

.key:active,
.key.active {
    background: linear-gradient(145deg, var(--button-background--active), var(--button-background));
}

.key:focus,
.key:focus-visible {
    outline: 0;
}

.key[data-value="0"] {
    grid-column-end: span 2;
}

.key[data-value="AC"] {
    grid-column-end: span 3;
}

.messages {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--calculator-background);
    padding: 5px 10px;
    font-size: 16px;
}